p.lead {
  font-size: 1.2rem;
}
.theme-l4s .sidebar {
  background-color: #003459;
}
.theme-l4s .content a,
.theme-l4s .related-posts li a:hover {
  color: #003459;
}
.sidebar {
  color: rgba(255,255,255, 0.6);
}
.sidebar a {
  color: #fffdf7; 
}
body.theme-l4s {
  color: #00171f;
  background-color: #fbfffe;
}
@media (max-width: 48em) {
  .hide-mobile {
    display: none;
  }
  .sidebar-nav .sidebar-nav-item {
    display: inline-block;   
    margin: 0 0.5em; 
  }
}