p.lead {
  font-size: 1.2rem;
}
.sidebar-nav-item.small {
  font-size: 0.7rem; 
}
.theme-l4s .sidebar {
  background-color: #0d3b66;
}
.theme-l4s .content a,
.theme-l4s .related-posts li a:hover {
  color: #0d3b66;
}